* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background: #f85f6a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

@media all and (max-width: 991px)
{
    nav
    {
        width: 10%;
    }

    .nav
    {
        display: none;
    }

    .nav-burger
    {
        display: flex;
        align-items: center;
        margin-left: 3%;
        cursor: pointer;
        color: white;
    }

    nav ul li
    {
        display: flex;
        align-items: center;
        padding: 2%;
    }

}

h1
{
    position: absolute;
    left : 50%;
    transform: translate(-50%);
}

nav
{
    width: 25%;
    user-select: none;
}

.nav-burger
{
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 3%;
    width: 5%;
    color: white;
    cursor: pointer;
}

.nav-burger:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}

nav ul
{
    padding: 5%;
}

nav ul li
{
    display: flex;
    align-items: center;
    padding: 3%;
}

.logo
{
    width: 10%;
}

.li-link
{
    color: white;
}

.ul-page:hover
{
    background: #fa7c85;
}

.ul-logout:hover
{
    background: #fa7c85;
}

main
{
    margin: 5%;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    background-color: #f85f6a;
    border-radius: 4px;
}

p
{
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3
{
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-temp, .sec-bat
{
    display: flex;
    justify-content: space-around;
}

.sec-graphs
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec-graphTemp, .sec-graphBat
{
    position: relative;
    height:40vh;
    width:80vw;
}

.sec-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

h4
{
    display: flex;
    justify-content: center;
}

.sec-alert{
    display: flex;
    justify-content: center;
    align-items: center;
}

button
{
    border-style: none;
    border-radius: 8px;
    color: white;
    width: 2em;

}

.button-open
{
    background-color: rgba(54, 162, 235, 1);
}

.button-close
{
    background-color: rgba(255, 99, 132, 1);
}
